# Object files
*.o
*.ko
*.obj
*.elf
*.dtb
*.dtbo
*.o.d
*.order
*.symvers

# Precompiled Headers
*.gch
*.pch
*.mod.c
*.cmd
*.mod

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
